.comment-area {

    .form-container {
        border-top: 1px solid #dbdbdb;
        
        .add-comment-textarea {
            color: #8e8e8e;
            border: 0;
            font-family: inherit;
            width: 540px;
            padding: 20px 3px 20px 16px;
            outline: 0;
        }

        .add-comment-btn {
            background-color: transparent;
            border: 0;
            color: #0095f6;
            font-weight: 600;
            font-size: 14px;
            padding-inline-end: 5px;
        }
    }
}
