.act-btn-container {
    cursor: pointer;
    margin-bottom: 5px;

    .post-actions-btns {
        width: 600px;
        padding: 0 16px 0 16px;

        .left-act-btns-container {
            width: 100px;
        }

        .right-act-btn {
            padding-top: 5px;
        }
    }

    ._8-yf5 {
        // width: 100px;
        // height: 100px;
        transition: transform 0.2s;
        // transition: width 0.2s, height 1s;
    }
        .scale{
            transform: scale(1.25);
        }
    


    .like-count-btn {
        border: 0;
        background-color: transparent;
        outline: 0;
        width: 80px;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 16px;
        font-size: inherit;
        color: #262626;
        // font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 600;
        line-height: 1.43;
        letter-spacing: 0.01071em;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 16px;
        font-size: inherit;
        color: #262626;
        // font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 600;
        line-height: 1.43;
        letter-spacing: 0.01071em;

        span {
            width: 10px;
        }
    }
}
